.credit-card-container {
  background-color: #144a8f;
  color: #F9C705;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.credit-header,
.credit-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit-logo img {
  width: 48px;
  margin-right: 10px;
}

.chip {
  width: 60px;
}

.card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.credit-card-container h5,
.credit-card-container h6 {
  color: #F9C705;
}